<div class="container">
  <div class="hh">
    <div class="homepage-wrapper" fxLayout="" fxLayoutAlign="center center">
  <h1>ถอนวิชาเรียน</h1>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">รหัสวิชา</th>
      <th scope="col">วิชาเรียน</th>
      <th scope="col">หน่วยกิต</th>
      <th scope="col">ตอนเรียน</th>
      <th scope="col">วันเวลาเรียน</th>
      <th scope="col">อาจารย์ผู้สอน</th>
      <th scope="col">ปีการศึกษา</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody  *ngFor="let book of bookList">
    <tr>
      <td>{{book.coursetext_id}}</td>
      <td>{{book.course_Name}}</td>
      <td>{{book.credit}}</td>
      <td>{{book.section}}</td>
      <td>{{book.class_date}}</td>
      <td>{{book.lecturer}}</td>
      <td>{{book.year}}</td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(book.course_id)">ถอนวิชาเรียน</button></td>
    </tr>
  </tbody>
</table>
  </div>
</div>




