
<div class="homepage-wrapper" fxLayout="" fxLayoutAlign="center center">
  <h1>ถอดวิชาเรียน</h1>

</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">รหัสวิชา-รายเรียน</th>
      <th scope="col">หน่อยกิต</th>
      <th scope="col">ตอนเรียน-วันเวลาเรียน</th>
      <th scope="col">อาจารย์ผู้สอน</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>040203102 MATHEMATICS II</td>
      <td>3(2-2)</td>
      <td>S.1 T 9.00-12.00</td>
      <td>MMM</td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete()">ถอดวิชาเรียน</button></td>
    </tr>
    <tr>
      <td>040613348 SOFTWARE</td>
      <td>3(2-2)</td>
      <td>S.2 F 9.00-12.00</td>
      <td>MUN</td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete()">ถอดวิชาเรียน</button></td>
    </tr>
    <tr>
      <td>040613393 NUMERICAL</td>
      <td>3(2-2)</td>
      <td>S.1 M 13.00-15.00</td>
      <td>JJJ</td>
      <td><button type="button" class="btn btn-danger" (click)="onDelete()">ถอดวิชาเรียน</button></td>
    </tr>
  </tbody>
</table>



