

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=3d-float&font-effect-3d-float">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap" rel="stylesheet">

<div class="wall bg">
  <div class="content">
    <div class="KMUTNB" style="width:90%;">
      <div class="tnx">
        <h2><i class="fas fa-map-marker-alt"></i> Wongsawang</h2>
      </div>

      <div class="txt">
        <h1>KMUTNB</h1>
      </div>
      <p>King Mongkut's University of Technology North Bangkok</p>
      <p>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ 1518 ถนนประชาราษฎร์ 1</p>
      <p>แขวงวงศ์สว่าง เขตบางซื่อ กรุงเทพฯ 10800</p>
    </div>
    <div class="card" style="width:100%;">

      <a href="https://www.kmutnb.ac.th/" target="_blank">
        <div class="box1">
          <h2>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ</h2>
        </div>
      </a>
      <a href="https://building.op.kmutnb.ac.th/index.php?r=news%2Fview&id=40" target="_blank">
        <div class="box2">
          <h2>ข่าวประชาสัมพันธ์</h2>
        </div>
      </a>
      <a href="https://account.kmutnb.ac.th/web/user/login" target="_blank">
        <div class="box3">
          <h2>ICIT</h2>
        </div>
      </a>
      <a href="https://grade.icit.kmutnb.ac.th/" target="_blank">
        <div class="box4">
          <h2>ประเมินอาจารย์</h2>
        </div>
      </a>
    </div>
  </div>
</div>













