<html>
  <body class="container">
    <nav class="main-menu">
            <ul>
                <li>
                    <a href="homepage">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            หน้าหลัก
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="registration">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            ลงทะเบียนเรียน
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                  <a href="takeoffclass">
                      <i class="fa fa-list  fa-2x"></i>
                      <span class="nav-text">
                        ถอนวิชาเรียน
                      </span>
                  </a>

              </li>
              <li class="has-subnav">
                <a href="addlesson">
                    <i class="fa fa-plus-square fa-2x"></i>
                    <span class="nav-text">
                        เพิ่มวิชาเรียน
                    </span>
                </a>

            </li>

          <li class="has-subnav">
            <a href="addCoursbeByTeacherComponent">
                <i class="fa fa-plus-square fa-2x"></i>
                <span class="nav-text">
                    เพิ่มวิชาที่สอน
                </span>
            </a>

        </li>
        <li class="has-subnav">
          <a href="seeSubjectComponent">
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                  ดูวิชาที่สอน
              </span>
          </a>
      </li>

            </ul>

            <ul class="logout">
                <li>
                   <a href="login">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
        <router-outlet></router-outlet>
  </body>
    </html>



