
<div class="homepage-wrapper" fxLayout="" fxLayoutAlign="center center">
  <h1>เพิ่มวิชาเรียน</h1>


</div>
<button type="button" class="btn btn-success" (click)="onAdd()">เพิ่มวิชาเรียน</button><br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">รหัสวิชา</th>
      <th scope="col">วิชาเรียน</th>
      <th scope="col">หน่วยกิต</th>
      <th scope="col">ตอนเรียน</th>
      <th scope="col">วันเวลาเรียน</th>
      <th scope="col">อาจารย์ผู้สอน</th>
      <th scope="col">เทอม</th>

    </tr>
  </thead>
  <tbody *ngFor="let book of bookList">
    <tr>
      <td>{{book.id_course}}</td>
      <td>{{book.Name_course}}</td>
      <td>{{book.credit}}</td>
      <td>{{book.section}}</td>
      <td>{{book.class_date}}</td>
      <td>{{book.lecturer}}</td>
      <td>{{book.term}}</td>

    </tr>

  </tbody>
</table>
